*{box-sizing: border-box;}

/*---- Basics -----*/

html{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

h2, h3, p {
    margin: 0;
}

.primary-container {
    padding-left: 15rem;
    padding-right: 15rem;
}

.headline {
    color: #1151ab;
    font-size: 1.125rem;
    font-weight: 500;
}

.paragraph {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.04rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/*---- Header with Navigation----*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(./img/header1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 4rem;
    padding-bottom: 4rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.logo {
    width: 18rem;
    cursor: pointer;
    display: block;
}

.header-cloud {
    height: 5rem;
}

.header-temp {
    margin: 0;
    margin-top: -3.6rem;
    text-align: center;
    font-size: 2rem;
    color: #12263C;
}

.navbar-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-link {
    text-decoration: none;
    color: #12263C;
    font-weight: 400;
    font-size: 1.125rem;
    padding: 0.75rem 0 0.75rem 0;
    border-bottom: 0.2rem solid transparent;
    border-top: 0.2rem solid transparent;
    transition: all 150ms ease-in-out;
}

.navbar-link:hover {
    border-bottom: 0.2rem solid #12263C;
    border-top: 0.2rem solid #12263C;
}

.link-active {
    border-bottom: 0.2rem solid #12263C;
    border-top: 0.2rem solid #12263C;
}


/*-----Weather ------ */

.weather {
    position: absolute;
    top: 0.25rem;
    left: 0;
    right: 0;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: 300;
}

.search {
    display: flex;
}

.weather-button {
    border: none;
    height: 1.5rem;
    margin-left: -0.2rem;
    display: flex;
    align-items: center;
    color: #053D61;
    font-weight: 500;
    cursor: pointer;
    background-color: white;
}

.weather-input {
    border: none;
    outline: none;
    height: 1.5rem;
    padding-left: 0.25rem;
}

.weather-input:active {
    background-color: white;
}

.search-icon {
    width: 0.75rem;
}


/*-----News Feed-----*/

.news {
    background-color: #053D61;
    padding-top: 4rem;
    padding-bottom: 1.5rem;
}

.news-element {
    background-color: white;
    border-radius: 0.1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    margin-bottom: 1.25rem;
    transition: transform 150ms ease-in-out;
}

.news-element:hover{
    transform: scale(1.015);
}

.news-element:last-child {
    margin-bottom: 0;
}

.news-element-image {
    width: 100%;
    border-radius: 0.1rem;
    max-height: 70vh;
    object-fit: cover;
}

.news-element-footer {
    padding: 0 1rem 1rem 1rem;
}

.news-element-date {
    color: #1151ab;
    font-weight: 400;
    font-size: 1rem;
    padding: 1rem 0;
}

.news-element-headline{
    color: #303030;
    font-weight: 600;
    font-size: 1.75rem;
    padding-bottom: 1rem;
}

.news-element-paragraph {
    font-size: 1rem;
    font-weight: 400;
}