

.detail-view {
    background-color: rgb(240, 240, 240);
    padding-bottom: 5rem;
}

.navigation-info {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    font-size: 0.9rem;
    opacity: 0.7;
}

.navigation-info-startpage {
    cursor: pointer;
}

.navigation-info-startpage:hover {
    text-decoration: underline;
}

.detail-view-arrow {
    height: 0.9rem;
    margin: 0 0.5rem;
}

.detail-view-title {
    font-weight: 400;
    font-size: 2rem;
    padding-top: 4rem;
    line-height: 1.3;
}

.detail-view-infos {
    padding: 1.5rem 0;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-view-synopsis {
    font-weight: 600;
    line-height: 1.3;
    padding-bottom: 1.5rem;
}

.detail-view-image {
    width: 100%;
}

.detail-view-content {
    padding-top: 1.5rem;
    line-height: 1.3;
}