*{box-sizing: border-box;}

/*---- Basics -----*/

html{
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

h2, h3, p {
    margin: 0;
}

.primary-container {
    padding-left: 15rem;
    padding-right: 15rem;
    max-width: 87.5rem;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 70em){
    .primary-container {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

@media(max-width: 60em){
    .primary-container {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media(max-width:50em){
    .primary-container{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

@media(max-width:45em){
    .primary-container{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.headline {
    color: #1151ab;
    font-size: 1.125rem;
    font-weight: 500;
}

.paragraph {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.04rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}


