
    
    <section class="weather primary-container">
        <div><span class="temp"></span><span>°C</span></div>
        <div id="condition"></div>
        <div id="city">Berlin</div>
        <form onsubmit="changeCity(); return false" class="search">
            <input class="weather-input" type="text" id="selectedCity">
            <button type="submit"  class="weather-button">
                <img src="./img/search.png" class="search-icon" alt="Icon Suchen"> 
                
            </button>
        </form>
    </section>
    <header class="header primary-container">
        <a onclick="openStartpage()"><img class="logo" src="./img/logo_white.png" alt="Heise Logo"></a>
        <div>
            <img class="header-cloud" src="./img/cloud.png" alt="">
            <h4 class="header-temp"><span class="temp"></span><span>°C</span></h4>
        </div>
        
    </header>

    <nav class="navbar primary-container">
        <ul class="navbar-ul">
            <a class="navbar-link link-active" onclick="activateLink(this)" href="#"><li>Aktuell</li></a>
            <a class="navbar-link" onclick="activateLink(this)" href="#"><li>Digitalisierung</li></a>
            <a class="navbar-link" onclick="activateLink(this)" href="#"><li>Hardware</li></a>
            <a class="navbar-link" onclick="activateLink(this)" href="#"><li>Software</li></a>
            <a class="navbar-link" onclick="activateLink(this)" href="#"><li>IT Security</li></a>
        </ul>
    </nav>